# **** Short guide for creating and activating virtual environments, 
#                 and installing libraries with venv ***
#
# --- Create virtual environment ---
#
# python -m venv .venv
#
# --- Activate virtual environment ---
#
# Unix orMac systems
#     source venv/bin/activate
# Windows system 
#    - using git bash: source .venv/Scripts/activate
#    - using command promt or anaconda terminal: .venv\Scripts\activate
#
# --- Install libraries ---
#
# pip config set global.trusted-host "pypi.org files.pythonhosted.org pypi.python.org"
# python -m pip install --upgrade pip
# pip install --no-cache-dir -r requirements.txt

cookiecutter==2.6.0
ipykernel==6.29.4
pip-chill==1.0.3
pytz==2024.1
sphinx==7.4.7
pydata-sphinx-theme==0.15.4
recommonmark==0.7.1